<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj uprawnienia</title>
</head>
<body>
    <div class="container">

        <form th:if="${roles.size()} > 0" th:object="${role}" method="post">

            <h3>Nadaj uprawnienia użytkownikowi: </h3>
            <select th:field="*{id}" title="role">
                <option th:each="role : ${roles}" th:text="${role.simplifiedRoleName}" th:value="${role.id}"></option>
            </select>
            <input type="submit" value="Dodaj">

        </form>

        <h3 th:if="${roles.size()} == 0">Wszystkie uprawnienia zostały nadane temu użytkownikowi</h3>

    </div>
</body>
</html>