<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <meta charset="UTF-8">
    <title>Nadawanie loginu</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <br>
    <h2>Dodaj login dla użytkownika <span
            th:text="${employee.getFirstName().concat(' ').concat(employee.getLastName())}"></span></h2>
    <br>
    <form method="post" th:object="${user}" th:action="@{/admin/user/{id}/add-login (id=${employee.getId()})}">
        <div class="form-group row">
            <label th:for="*{login}" class="col-sm-2 col-form-label">Login:</label>
            <div class="col-sm-10">
                <input th:field="*{login}" class="form-control">
                <span th:if="${loginExist} != null" th:text="${loginExist}"></span>
                <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="*{password}" class="col-sm-2 col-form-label">Hasło:</label>
            <div class="col-sm-10">
                <input th:field="*{password}" type="password" class="form-control">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="roleName" class="col-sm-2 col-form-label">Uprawnienia:</label>
            <div class="col-sm-10">
                <select class="form-control" name="roleName" id="roleName">
                    <option value="ROLE_ADMIN">Administrator</option>
                    <option value="ROLE_USER">Użytkownik</option>
                </select>
            </div>
        </div>
        <div class="float-right">
            <input class="btn btn-primary" type="submit" value="Zapisz">
            <a class="btn btn-primary" th:href="@{/admin/user/{id} (id=${employee.getId()})}">Powrót</a>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>