<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informacje o użytkowniku</title>
</head>
<body>
<h1>Test</h1>
<span th:text="${employee.get().getId()}"></span><br>
<span th:text="${employee.get().getFirstName()}"></span><br>
<span th:text="${employee.get().getLastName()}"></span><br>
<span th:text="${employee.get().getCardNumber()}"></span><br>
<span th:if="${employee.get().getUser() != null}">
<span th:text="${employee.get().getUser().getLogin()}"></span>
</span>
</body>
</html>