<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj użytkownika</title>
</head>
<body>
<div>
    <h2>Lista pracowników:</h2>
    <form method="get" th:action="@{/admin/user}">
        <label for="search">Szukaj:</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="Szukaj">
    </form>
    <span th:if="${searchValue}!=null">
        Wynik wyszukiwania dla '<b><span th:text="${searchValue}"></span></b>'
        <a th:href="@{/admin/users}">Usuń filtr</a>
    </span>
    <table>
        <tr>
            <th>ID</th>
            <th>Imie nazwisko</th>
            <th>Szczegóły</th>
        </tr>
        <tr th:each="employee: ${employeesList}">
            <td th:text="${employee.getId()}"></td>
            <td th:text="${employee.getFirstName().concat(' ').concat(employee.getLastName())}"></td>
            <td><a th:href="@{/admin/user/{id}(id = ${employee.getId()})}"> Edytuj </a></td>
        </tr>
    </table>
</div>
</body>
</html>