<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resetowanie hasła</title>
</head>
<body>
<h2>Resetowanie hasła</h2>
<form method="post" th:action="@{/admin/user/{id}/password (id=${user.getEmployee().getId()})}">
    <label for="newPassword">Nowe hasło:</label>
    <input type="password" name="newPassword" id="newPassword">
    <span th:if="${error} != null" th:text="${error}"></span>
    <input type="submit" value="Resetuj hasło">
</form>
</body>
</html>