<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja czas pracy</title>
</head>
<body>
<div>
    <h1>Zeskanuj swoją kartę:</h1>
    <form method="post" th:action="@{/checkCardNumber}">
        <label for="cardNumber"></label>
        <input placeholder="Numer karty" type="text" id="cardNumber" name="cardNumber">
        <br>
        <br>
        <input type="submit" value="Szukaj">
    </form>
</div>
</body>
<script type="text/javascript">
    document.getElementById('cardNumber').focus();
</script>
</html>